.alert {
  width: 320px;
}
.hero-center {
  margin: 32px 0px;
}

body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#footer {
  padding-top: 64px;
}

td .progress {
  margin-bottom: 0px;
}